@model IEnumerable<Capstone.Web.Models.Park>

@{
    ViewData["Title"] = "Favorites";
}

<h2>Most Popular National Parks</h2>
<br />


@if (ViewBag.SurveyStatus == "Complete")
{
    <h3 style="background-color:darkgreen; color:white; text-align: center; margin: 0 100px;">Thanks for taking the survey. Your vote has been added to the results!</h3>
    <br />
    <br />
}

@foreach (var item in Model)
{
    <div style="display:grid; grid-template-columns: 150px 400px 100px; margin-bottom:15px; margin-left: 50px; align-items: center  ">
        <div style="grid-column:1/2">
            <img style="height:90px;width:auto" src="~/images/parks/@(item.ParkCode).jpg" />
        </div>
        <div style="grid-column:2/3">
            <h4><a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@item.ParkCode">@item.ParkName</a></h4>
        </div>
        <div style="grid-column:3/4">
            <h4>Votes: @item.FavoriteCount</h4>
        </div>
    </div>
}