@model IEnumerable<Capstone.Web.Models.Park>

@{
    ViewData["Title"] = "Favorites";
}

<h2>Most Popular National Parks</h2>

@if(ViewBag.SurveyStatus == "Complete")
{
    <h3 style="background-color:darkgreen; color:white">Thanks for taking the survey. Your vote has been added to the results!</h3>
}

@foreach (var item in Model)
{
    <div style="display:grid; grid-template-columns: 150px 200px 20px; margin-bottom:15px">
        <div style="grid-column:1/2">
            <img style="height:90px;width:auto" src="~/images/parks/@(item.ParkCode).jpg" />
        </div>
        <div style="grid-column:2/3">
            @item.ParkName
        </div>
        <div style="grid-column:3/4">
            Votes: @item.FavoriteCount
        </div>
    </div>
    <hr />

}