@model IEnumerable<Capstone.Web.Models.Park>

@{
    ViewData["Title"] = "Favorites";
}

<h2>Most Popular National Parks</h2>
<br />
<br />

@if (ViewBag.SurveyStatus == "Complete")
{
    <h3 style="background-color:darkgreen; color:white; text-align: center; margin: 0 100px;">Thanks for taking the survey. Your vote has been added to the results!</h3>
    <br />
}
@if (ViewBag.FavoriteParkCount > 0)
{
    @foreach (var item in Model)
    {
        <div style="display:grid; grid-template-columns: 180px 400px 100px; margin-bottom:15px;">
            <div style="grid-column:1/2">
                <img style="height:100px;width:auto; box-shadow: -5px 5px 5px lightgray" src="~/images/parks/@(item.ParkCode).jpg" />
            </div>
            <div style="grid-column:2/3">
                <h4 style="margin-top:0px"><a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@item.ParkCode">@item.ParkName</a></h4>
            </div>
            <div style="grid-column:3/4">
                <h4 style="margin-top:0px">Votes: @item.FavoriteCount</h4>
            </div>
        </div>
    }
}
else
{
    <h3>Nobody has taken the survey yet. Please head over to the <a asp-action="Survey">survey page</a> and be the first!</h3>
}