@model Capstone.Web.Models.Survey

@{
    ViewData["Title"] = "Survey";
}

<h2>National Park Survey</h2>
<br />


<h4>Please help us improve our visitor services by taking this quick survey!</h4>
<h4>Just let us know which National Park is your favorite, along with a little</h4>
<h4>information about yourself. After you're done, you can see which parks everyone likes the most!</h4>
<br />
<br />

@if (ViewBag.SurveyStatus == "Complete")
{
<h3 style="background-color:darkblue; color:white">You have already completed the survey. <a asp-action="Favorites">Click here</a> to check out the results!</h3>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Survey" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group form-inline">
                    <label class="control-label col-md-2">Favorite National Park</label>
                    <select class="form-control" name="ParkCode">
                        @foreach (Park park in ViewBag.Parks)
                        {
                            <option value="@park.ParkCode">@park.ParkName</option>
                        }
                    </select>
                    <span asp-validation-for="ParkCode" class="text-danger"></span>
                </div>
                <div class="form-group form-inline">
                    <label class="control-label col-md-2">Your email</label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>

                <div class="form-group form-inline">
                    <label class="control-label col-md-2">State of residence</label>
                    <select class="form-control" name="State">
                        @foreach (string state in ViewBag.States)
                        {
                            <option value="@state.Substring(0, 2)">@state</option>
                        }

                    </select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group form-inline">
                    <label class="control-label col-md-2">Activity level</label>
                    <div class="custom-control custom-radio custom-control-inline col-md-2">
                        <input type="radio" class="custom-control-input" name="ActivityLevel" value="extremelyActive" />
                        <label class="custom-control-label" for="ActivityLevel">Extremely Active</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline col-md-2">
                        <input type="radio" class="custom-control-input" name="ActivityLevel" value="active" />
                        <label class="custom-control-label" for="ActivityLevel">Active</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline col-md-2">
                        <input type="radio" class="custom-control-input" name="ActivityLevel" value="sedentary" />
                        <label class="custom-control-label" for="ActivityLevel">Sedentary</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline col-md-2">
                        <input type="radio" class="custom-control-input" name="ActivityLevel" value="inactive" />
                        <label class="custom-control-label" for="ActivityLevel">Inactive</label>
                    </div>
                    <span asp-validation-for="ActivityLevel" class="text-danger"></span>
                </div><br /><br /><br />
                <div class="form-group form-inline col-md-12">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
