@model IList<Park>;
@{
    ViewData["Title"] = "Home Page";
}

@foreach(Park park in Model)
{
    <div>
        <img src="~/images/parks/@(park.Code).jpg" />
        <a asp-action="Detail" asp-route-parkCode="@park.Code" >@park.Name</a>
        <p>@park.Location</p>
        <p>@park.Summary</p>
    </div>
}