@model IList<Park>;
@{
    ViewData["Title"] = "Home Page";
}

@foreach(Park park in Model)
{
    <div>
        <img src="~/images/parks/@(park.ParkCode).jpg" />
        <a asp-action="Detail" asp-route-parkCode="@park.ParkCode" >@park.ParkName</a>
        <p>@park.State</p>
        <p>@park.ParkDescription</p>
    </div>
}